@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
    --color-ghost-white: #F3F2FA;
    --color-lavender: #E1DEE9;
    --color-payne-gray: #585F72;
    --color-purple-rain: #6D1FFF;
    --color-royal-blue: #4E6AE3;
    --color-miriam-blue: #2E3A80;
    --font-poppins: "Poppins", "sans-serif";
}