@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:...&display=swap');

:root {
  --color-ghost-white: #F3F2FA;
  --color-lavender: #E1DEE9;
  --color-payne-gray: #585F72;
  --color-purple-rain: #6D1FFF;
  --color-royal-blue: #4E6AE3;
  --color-miriam-blue: #2E3A80;

  --primary-blue: #00478f;
  --secondary-blue: #268edc;
  --light-blue: #e8f4fd;
  --text-dark: #2a231f;
  --gray: #d8e1e7;

  --font-poppins: "Poppins", "sans-serif";
}
