@import url("https://fonts.googleapis.com/css2?family=Poppins:...&display=swap");
@import "tailwindcss";

:root {
  --color-ghost-white: #f3f2fa;
  --color-lavender: #e1dee9;
  --color-payne-gray: #585f72;
  --color-purple-rain: #6d1fff;
  --color-royal-blue: #4e6ae3;
  --color-miriam-blue: #2e3a80;

  --primary-blue: #00478f;
  --secondary-blue: #268edc;
  --light-blue: #e8f4fd;
  --text-dark: #2a231f;
  --gray: #d8e1e7;

  --font-poppins: "Poppins", "sans-serif";
}
